<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="wrail-local-sdk" value=".widgetrail/packages" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="wrail-local-sdk">
      <package pattern="WidgetRail.WidgetSdk" />
    </packageSource>
  </packageSourceMapping>
</configuration>
